body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}
li * {
  float: left;
}
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
    /* хидден походу убрал мне точки, я их как то еще убирал но это в целом проще */
}
ul li.editMode label {
  display: none;
    /* кусок для джавы - если у ли будет класс эдит мод */
}
li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
    /* шрифты ширина и падинг слева для лейблов */
}
ul li input[type=text] {
  display: none;
    /* кусок для джавы чтоб не отображать текст в инпуте, потому что он будет в лейбле */
}

li > input[type="text"] {
  width: 226px;
    /* кусок для джавы (копипаст ширины пока не понял к чему он тут) */
}
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
    /* кусок для джавы - если будет айди комплит то перечеркнет лейбл */
}
ul li.editMode input[type=text] {
  display: block;
    /*  кусок для джавы = если у меня эдит мод у лишки то я показываю текст который до этого был в лейбле а теперь в инпуте*/
}

ul li input[type=text] {
  display: none;
    /* если у меня не стоит эдит мод то сам инпут исчезает на его месте будет лейбл с тем же текстом */
}
li > input[type="text"] {
  width: 226px;
    /* снова не понятная ширина - разберусь или удалю */
}

li.priority {
  background-color: #faebd7;
}
input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
    /* кусок для джавы тут я задаю инпуты внятный вид, рамки, радиус шрифт цвет */
}

li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
    /*  кусок для джавы и важно чтоб позиция релатив ибо чек бокс нужен слева*/
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
    /*  по факту - убрать бек, бордеры и все такое, в общем полу прозрачной сделать типа*/
}


.header {
    /* допишу */
}
.header__main {
    /*  тут пока не понятно что будет*/
}
.header__text {
  display: flex;
  justify-content: space-around;
      /* тупо выравниюва так все в центр. много раз повтораятся зато быстро и легко */

}
.container {
  display: block;
  width: 400px;
  margin: 100px auto;    /* чисто база удобный для меня контейнер */

}
.main {
  display: flex;
  justify-content: space-around;
  /* тупо выравниюва так все в центр. много раз повтораятся зато быстро и легко */
}
.main__form {
  position: relative;
  /* не понял зачем но надо*/
}
.main__form-input-label {
  position: absolute;
  /* смещение относительно родительского элемента 10px вверх от верхнего края и   10px влево */
  top: -10px;
  left: 10px;
  background: #fff;
  padding: 0 5px;
}
.main__form-input {
  background: #fff;
  padding: 10px;
  /* закруглим края у поля ввода */
  border-radius: 11px;
  width: 200px;
}
.main__form-button {
    /* я не придумал как разместить кнопку подальше от чек бокса, и что бы она юзабельно смотрелась */
  margin-left: 90px;
}

.station {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
    /* кусок где будет размещаться контент снизу, мне нужно отделить якобы секцию но не задать ей чегото конкретного визуальное разделение */
}
.chebox-input{
  display: flex;
  align-items: baseline;
    /* выравнивание */
}

label input:focus + .main__form-input-label,
label input:valid + .main__form-input-label {
  top: -1.5rem;
  left: 0.5rem;
  font-size: 0.9rem;
}
/* для того что бы эта фишка работала, у инпута обязательно должен быть параметр, required - без него Валид будет всегда!!*/
/* единственное решения для анимации с этим блоком без джава скрипта которое работает идеально и сразу еще транзишн поставить и замедлить вообщзе топ */